.brand-container {
  display: grid;

  grid-template-columns:
    repeat(auto-fit, minmax(140px, 1fr));

  gap: 16px;

  padding: 20px;
}

.brand-card {
  background: white;
  padding: 24px 20px;

  text-align: center;

  border-radius: 12px;

  font-size: 16px;
  font-weight: 700;

  color: #212121;
  text-decoration: none;

  transition: 0.3s;
  cursor: pointer;
}

.brand-card:hover {
  transform: translateY(-6px);
}
