<!-- <div class="hero-banner">

  <div class="overlay">

    <h1>
      Biggest Sale of the Year
    </h1>

    <p>
      Up to 70% OFF on Electronics, Fashion & More
    </p>

    <button>
      Shop Now
    </button>

  </div>

</div> -->

<div class="hero-banner">

  <div class="overlay">

    <p class="sale-text">
      Fashion Mega Sale
    </p>

    <h1>
      Trending Fashion Collection 2026
    </h1>

    <p>
      Flat 50-80% OFF on Men's & Women's Wear
    </p>

    <button>
      Explore Collection
    </button>

  </div>

</div>