.category-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 16px;
  padding: 16px;
}

.category-card {
  background: white;
  padding: 24px;
  text-align: center;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.category-card:hover {
  transform: translateY(-4px);
}